# 5주차 DataFrame
## # 경찰청_연도별 사이버 범죄 통계 현황.csv
- 연도별 사이버 범죄 세부 유형별 발생, 검거 통계
- 2014년도부터 2020년도 자료
- 해킹, 서비스거부, 악성프로그램, 인터넷사기, 사이버금융범죄 등

In [4]:
import numpy as np
import pandas as pd
from pandas import Series
import matplotlib.pyplot as plt

In [5]:
plt.style.use('seaborn-v0_8-whitegrid')
plt.rc('font', family='Malgun Gothic') 
plt.rcParams['axes.unicode_minus'] = False

In [6]:
crime = pd.read_csv('C:/Users/sj123/Downloads/경찰청_연도별 사이버 범죄 통계.csv')
crime.shape

(14, 35)

In [7]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   연도                14 non-null     int64
 1   구분                14 non-null     object
 2   해킹(계정도용)          14 non-null     int64
 3   해킹(단순침입)          14 non-null     int64
 4   해킹(자료유출)          14 non-null     int64
 5   해킹(자료훼손)          14 non-null     int64
 6   서비스거부공격           14 non-null     int64
 7   악성프로그램(랜섬웨어)      14 non-null     int64
 8   악성프로그램(기타)        14 non-null     int64
 9   기타 정보통신망 침해형 범죄   14 non-null     int64
 10  사이버사기(직거래)        14 non-null     int64
 11  사이버사기(쇼핑몰)        14 non-null     int64
 12  사이버사기(게임)         14 non-null     int64
 13  사이버사기(이메일 무역사기)   14 non-null     int64
 14  사이버사기(기타)         14 non-null     int64
 15  사이버금융범죄(피싱)       14 non-null     int64
 16  사이버금융범죄(파밍)       14 non-null     int64
 17  사이버금융범죄(스미싱)      14 non-null     int64
 18  사이버금융범죄(메모리해킹)    14 non-null     int64
 19  사이버금융범죄(몸캠피싱)     14 non-null     int64
 20  사이버금융범죄(메신저이용사기)  4 non-null      float64
 21  사이버금융범죄(기타)       14 non-null     int64
 22  개인위치정보 침해         14 non-null     int64
 23  사이버저작권침해          14 non-null     int64
 24  기타 정보통신망 이용형 범죄   14 non-null     int64
 25  사이버 음란물(일반음란물)    14 non-null     int64
 26  사이버 음란물(아동음란물)    14 non-null     int64
 27  사이버 음란물(불법촬영물유포)  4 non-null      float64
 28  사이버 도박(스포츠토토)     14 non-null     int64
 29  사이버 도박(경마 경륜 경정)  14 non-null     int64
 30  사이버 도박(카지노)       14 non-null     int64
 31  사이버 도박(기타)        14 non-null     int64
 32  사이버 명예훼손(모욕)      14 non-null     int64
 33  사이버 스토킹           14 non-null     int64
 34  기타 불법 컨텐츠         14 non-null     int64
dtypes: float64(2), int64(32), object(1)
memory usage: 4.0+ KB

## # 칼럼명 변경하기

In [11]:
def column_name(col):
    if '(' in col and ')' in col: # 문자열 col 안에 '(' 와 ')' 가 모두 포함되어 있다
        return col[col.find('(')+1:col.find(')')].strip() # +1 : 괄호 제외 괄호 안 첫 글자부터 시작해서 괄호까지 슬라이싱
    else:
        return col.strip() # 괄호 없을 때 그냥 컬럼 전체를 리턴 (앞뒤 공백만 제거)
crime.columns = [column_name(col) for col in crime.columns]

etc = [col for col in crime.columns if col == '기타']
crime['기타'] = crime[etc].sum(axis=1)
crime.drop(columns=etc, inplace=True)

crime.columns

Index(['연도', '구분', '계정도용', '단순침입', '자료유출', '자료훼손', '서비스거부공격', '랜섬웨어',
       '기타 정보통신망 침해형 범죄', '직거래', '쇼핑몰', '게임', '이메일 무역사기', '피싱', '파밍', '스미싱',
       '메모리해킹', '몸캠피싱', '메신저이용사기', '개인위치정보 침해', '사이버저작권침해', '기타 정보통신망 이용형 범죄',
       '일반음란물', '아동음란물', '불법촬영물유포', '스포츠토토', '경마 경륜 경정', '카지노', '모욕',
       '사이버 스토킹', '기타 불법 컨텐츠', '기타'],
      dtype='object')

## # 인터넷_이용자.csv
- 2014년도부터 2020년도 시계열 기반 인터넷 사용자 통계 (연령별/성별 등 포함)
- 해킹, 서비스거부, 악성프로그램, 인터넷사기, 사이버금융범죄 등
- 만 3세 이상 인구 기준
- 2015년 조사부터 연령구분을 3-9세, 10대, 20대, 30대, 40대, 50대, 60대, 70세 이상으로 구분함로 구분함

In [13]:
internet = pd.read_csv("C:/Users/sj123/데이터분석/산업공학실험/data/인터넷_이용자수.csv")
internet

,시점,전체,성별,성별.1,연령별,연령별.1,연령별.2,연령별.3,연령별.4,연령별.5,...,지역별.10,지역별.11,지역별.12,지역별.13,지역별.14,지역별.15,지역별.16,지역별.17,지역별.18,지역별.19
0,시점,소계,남성,여성,3-9세,10대,20대,30대,40대,50대,...,충청,충청,충청,전라,전라,전라,경상,경상,경상,제주
1,시점,소계,소계,소계,소계,소계,소계,소계,소계,소계,...,충북,충남,세종,소계,전북,전남,소계,경북,경남,소계
2,2020,46819,23989,22830,2959,4730,6968,7199,8274,8567,...,1526,2001,336,3040,1545,1496,5389,2441,2948,586
3,2019,46353,23733,22621,2826,5004,6974,7388,8348,8486,...,1520,2047,311,2968,1504,1464,5365,2464,2901,570
4,2018,46125,23708,22417,2781,5071,6945,7439,8484,8363,...,1434,1946,295,3109,1612,1497,5396,2419,2977,562
5,2017,45283,23315,21968,2694,5237,6897,7555,8577,8298,...,1374,1862,245,3066,1600,1466,5304,2329,2974,535
6,2016,43636,22451,21185,2670,5401,6841,7517,8352,7802,...,1328,1733,200,2898,1505,1393,5147,2233,2913,498
7,2015,41940,21755,20185,2555,5647,6796,7633,8360,7245,...,1181,1544,155,2668,1374,1294,4979,2232,2747,490
8,2014,41118,21469,19649,2526,5903,6780,7780,8324,6863,...,1153,1556,94,2578,1326,1252,4892,2252,2640,454

In [14]:
internet.columns

Index(['시점', '전체', '성별', '성별.1', '연령별', '연령별.1', '연령별.2', '연령별.3', '연령별.4',
       '연령별.5', '연령별.6', '연령별.7', '연령별.8', '지역별', '지역별.1', '지역별.2', '지역별.3',
       '지역별.4', '지역별.5', '지역별.6', '지역별.7', '지역별.8', '지역별.9', '지역별.10',
       '지역별.11', '지역별.12', '지역별.13', '지역별.14', '지역별.15', '지역별.16', '지역별.17',
       '지역별.18', '지역별.19'],
      dtype='object')